*.vspscc
*.suo
*.userprefs
target/
obj/
test-results/
Nunit-*/doc/
Nunit-*/samples/
Nunit-*/bin/tests/
Nunit-*/bin/lib/Images/
Nunit-*/bin/pnunit*
Nunit-*/bin/runpnunit*
Nunit-*/bin/NUnitFitTests*
Nunit-*/bin/NUnitTests*
Nunit-*/bin/nunit-agent*
Nunit-*/bin/agent*
Nunit-*/bin/TestResult.xml
Nunit-*/bin/launcher*
Nunit-*/bin/test*
packages/
TestResults/
