<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="CsDO" type="CsDO.Lib.Configuration.ConfigurationSectionHandler, CsDO.Lib, Culture=neutral, PublicKeyToken=null"
      allowLocation="true" allowDefinition="Everywhere" />
  </configSections>

  <CsDO driver="Mono.Data.Sqlite" cacheFile="cache.txt"  testMode="false" debugMode="true"/>

  <appSettings>
    <add key="PostgreSQL"
			value="Server=localhost;port=5432;User Id=csdo;Password=teste;Database=csdo;"/>
    <add key="OleDb"
			value="Server=localhost;port=5432;User Id=csdo;Password=teste;Database=csdo;"/>
    <add key="SqlServer"
			value="Server=localhost;port=5432;User Id=csdo;Password=teste;Database=csdo;"/>
	<add key="SqLite"
			value="URI=file::memory:,version=3"/>
  </appSettings>  
  
  <connectionStrings>
    <add name="CsDO_Teste" connectionString="Driver=MSSQLServer;Server=csdo;initial catalog=csdo_teste;User Id=usr_csdo_teste;Password=teste" providerName="CsDO"/>
    <add name="MockDataProvider" connectionString="URI=file::memory:,version=3" providerName="CsDO"/>
  </connectionStrings>
</configuration>
