<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- Connection string variable for framework -->
		<add key="PostgreSQL" 
			value="Server=localhost;port=5432;User Id=postgres;Password=teste;Database=csdo;"/>
		<add key="OleDb" 
			value="Server=localhost;port=5432;User Id=postgres;Password=teste;Database=csdo;"/>
		<add key="SqlServer" 
			value="Server=localhost;port=5432;User Id=postgres;Password=teste;Database=csdo;"/>
			
		<add key="dbAssembly" value="System.Data" />
		<add key="dbNameSpace" value="Sql" />		
		<add key="connection" value="Server=(local);initial catalog=teste;User Id=sa;Password=infosites" />
	</appSettings>
</configuration>
