<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="CsDO" type="CsDO.Lib.Configuration.ConfigurationSectionHandler, CsDO.Lib, Version=1.1.0.0, Culture=neutral"/>
  </configSections>
  
  <appSettings>
    <!-- Connection string variable for framework -->
    <add key="PostgreSQL"
			value="Server=localhost;port=5432;User Id=postgres;Password=teste;Database=csdo;"/>
  </appSettings>

  <connectionStrings>
    <add name="MockDataProvider" connectionString="Server=server;initial catalog=database;User Id=user;Password=password;MultipleActiveResultSets=true;Max Pool Size=10;Pooling=true" providerName="CsDO" />
  </connectionStrings>

  <system.data>
    <DbProviderFactories>
      <add
        name="CsDO"
        invariant="CsDO"
        description="Mock CsDO Data Provider"
        type="CsDO.Lib.MockDriver.MockFactory, CsDO.Lib.dll" />
    </DbProviderFactories>
  </system.data>  
  
  <CsDO driver="System.Data.SqlClient" cacheFile="Cache.xml" testMode="false"/>  
</configuration>
